@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes blinking {
    0% {
        border: 2px solid rgba(255, 41, 41, 0.301);
    }
    50%{
        border: 2px solid rgb(255, 41, 41);
    }
    100% {
        border: 2px solid rgba(255, 41, 41, 0.301);
    }
}