#app {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #0c0c0c;
}

.mainScreen-top, .mainScreen-bottom  {
    position: relative;
    height: 330px;
    width: 600px;
    margin: 5px;
    overflow: hidden;
    background-color: #000000;
}

#fadeCover {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 5;
    animation: fadeIn 1.3s forwards;
    background-color: #ffffff;
    opacity: 0;
}   