@import './Theme.scss';

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes blinking {
    0% {
        @include border-opac(1, 'in', 2px, $special-red);
        border: 2px solid $special-red;
    }
    50%{
        @include border-opac(.58, 'in', 2px, $special-red);
        border: 2px solid darken($color: $special-red, $amount: 42%);
    }
    100% {
        @include border-opac(1, 'in', 2px, $special-red);
        border: 2px solid $special-red;
    }
}