/* Any CSS beyond this point will be globally available to all components in the document. */
*, *::before, *::after {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

a, button, input[type="submit"] {
    text-decoration: none;
}

body, html, #root {
    overflow-x: hidden;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

/* CSS Reset */
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {display: block;}
body {line-height: 1;}
ol, ul {list-style: none;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after,
q:before, q:after {content: ''; content: none;}
table {border-collapse: collapse; border-spacing: 0;}

#app {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #0c0c0c;
}

.mainScreen-top, .mainScreen-bottom  {
    position: relative;
    margin: 5px;
    overflow: hidden;
    background-color: darken($color: $initial-dark, $amount: 50%);

    canvas {
        width: 100%;
        height: 100%;
    }
}

.scene {
    position: absolute;
    width: 100%;
    height: 100%;
}

.fadeInCover {
    z-index: 100;
    height: 100%;
    width: 100%;
    position: absolute;
    animation: fadeIn 1.3s forwards;
    background-color: #ffffff;
    opacity: 0;
}   

.fadeOutCover {
    z-index: 100;
    height: 100%;
    width: 100%;
    position: absolute;
    animation: fadeOut 1.3s forwards;
    background-color: #ffffff;
    opacity: 0;
}   