.mainMenu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $initial-light;
}

.menuButton-wrapper {
    text-transform: uppercase;
    border-radius: 1px;
    margin: 3px;
    width: 60%;
    @include border-opac(.8, 'in', 2px, $initial-light);
}

.menuButton-outer {
    display: flex;
    @include border-opac(.6, 'tb');
    @include border-opac(.6, 'lr', 3px);
}

.menuButton-innerborder {
    display: flex;
    width: 100%;
    @include border-opac(.40);
}

.menuButton {
    font-family: Pokemon GB;
    font-size: 0.70em;
    width: 100%;
    padding: 5px;
    border: 2px solid $initial-dark;
    background-color: darken($color: $initial-dark, $amount: 60%);
}

.menuselected {
    animation: blinking 2s ease-in-out infinite;
}