/* Any font imports required multiple times across the site will be imported here. */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap'); 
/*
 The following two fonts come from blogfonts.com
 (https://blogfonts.com/pokemon-gb.font)
 These two special fonts will only be used for logos and animations.
*/
@font-face {
    font-family: Pokemon GB;
    src: url("../Fonts/PokemonGb-RAeo.ttf") format('truetype');
}

@font-face {
    font-family: Pokemon GB Japan;
    src: url("../Fonts/PokemonGbJapanHrregular-Bq93.ttf") format('truetype');
}

/* Component colors */
$special-red: rgb(255, 41, 41);
$initial-dark: rgb(51, 51, 51);
$initial-light: rgb(255, 255, 255);